
@import "../layout/navbar";

@import "../layout/main";

@import "../layout/footer";

@import "../media/media";


.logo{
    width: 40px;
}

.divmsp{
    display: flex;
    justify-content: center;
}
.pmsp{
    width: 60%;
}
.imgsmsp{
    width: 400px;
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
}
h2{
    margin-top: 20px;
    margin-left: 10px;
}


