main section{
    h1 {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 20px;
  
  } 
    p {
      display: flex;
      justify-content: center;
      font-size: larger;
      margin-bottom: 150px;
  }
  .imginicio{
      display: flex;
      justify-content: center;
  }
  }