main section{
    h1 {
      margin-top: 20px;
      margin-bottom: 20px;
      @include flex();
  
  } 
    p {
      font-size: larger;
      margin-bottom: 150px;
      @include flex();

  }
  .imginicio{
    @include flex();
  }
  }